name: Build Android APK

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Set up JDK 11
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '11'

    - name: Build with Gradle Action
      uses: gradle/gradle-build-action@v2
      with:
        arguments: assembleDebug

    - name: Upload APK artifact
      uses: actions/upload-artifact@v4
      with:
        name: OV_NLand_Debug_APK
        path: app/build/outputs/apk/debug/app-debug.apk
