
name: Android Build (Debug, Release & AAB)

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest


    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Install Android SDK
        run: |
          wget https://dl.google.com/android/repository/commandlinetools-linux-9477386_latest.zip
          mkdir -p $ANDROID_HOME/cmdline-tools
          unzip commandlinetools-linux-9477386_latest.zip -d $ANDROID_HOME/cmdline-tools
          mv $ANDROID_HOME/cmdline-tools/cmdline-tools $ANDROID_HOME/cmdline-tools/latest
          yes | sdkmanager --licenses
          sdkmanager "platform-tools" "platforms;android-34" "build-tools;34.0.0"

      - name: Make gradlew executable
        run: chmod +x gradlew

      - name: Build Debug, Release & AAB
        run: |
          ./gradlew assembleDebug assembleRelease bundleRelease

      - name: Collect All APKs & AAB
        run: |
          mkdir -p build-artifacts
          find . -type f \( -name "*.apk" -o -name "*.aab" \) -exec cp {} build-artifacts/ \;

      - name: Upload All Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: android-build-artifacts
          path: build-artifacts/
